In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/sundeep/Downloads/pokemon_data.csv')
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [3]:
for index,row in df.iterrows():
    print(index, row['HP'] , row['Name'])

0 45 Bulbasaur
1 60 Ivysaur
2 80 Venusaur
3 80 VenusaurMega Venusaur
4 39 Charmander
5 58 Charmeleon
6 78 Charizard
7 78 CharizardMega Charizard X
8 78 CharizardMega Charizard Y
9 44 Squirtle
10 59 Wartortle
11 79 Blastoise
12 79 BlastoiseMega Blastoise
13 45 Caterpie
14 50 Metapod
15 60 Butterfree
16 40 Weedle
17 45 Kakuna
18 65 Beedrill
19 65 BeedrillMega Beedrill
20 40 Pidgey
21 63 Pidgeotto
22 83 Pidgeot
23 83 PidgeotMega Pidgeot
24 30 Rattata
25 55 Raticate
26 40 Spearow
27 65 Fearow
28 35 Ekans
29 60 Arbok
30 35 Pikachu
31 60 Raichu
32 50 Sandshrew
33 75 Sandslash
34 55 Nidoran (Female)
35 70 Nidorina
36 90 Nidoqueen
37 46 Nidoran (Male)
38 61 Nidorino
39 81 Nidoking
40 70 Clefairy
41 95 Clefable
42 38 Vulpix
43 73 Ninetales
44 115 Jigglypuff
45 140 Wigglytuff
46 40 Zubat
47 75 Golbat
48 45 Oddish
49 60 Gloom
50 75 Vileplume
51 35 Paras
52 60 Parasect
53 60 Venonat
54 70 Venomoth
55 10 Diglett
56 35 Dugtrio
57 40 Meowth
58 65 Persian
59 50 Psyduck
60 80 Golduck
61 40 Mankey
62 65 Primeape
63 55 Growlithe
64 90 Arcanine
65 40 Poliwag
66 65 Poliwhirl
67 90 Poliwrath
68 25 Abra
69 40 Kadabra
70 55 Alakazam
71 55 AlakazamMega Alakazam
72 70 Machop
73 80 Machoke
74 90 Machamp
75 50 Bellsprout
76 65 Weepinbell
77 80 Victreebel
78 40 Tentacool
79 80 Tentacruel
80 40 Geodude
81 55 Graveler
82 80 Golem
83 50 Ponyta
84 65 Rapidash
85 90 Slowpoke
86 95 Slowbro
87 95 SlowbroMega Slowbro
88 25 Magnemite
89 50 Magneton
90 52 Farfetch'd
91 35 Doduo
92 60 Dodrio
93 65 Seel
94 90 Dewgong
95 80 Grimer
96 105 Muk
97 30 Shellder
98 50 Cloyster
99 30 Gastly
100 45 Haunter
101 60 Gengar
102 60 GengarMega Gengar
103 35 Onix
104 60 Drowzee
105 85 Hypno
106 30 Krabby
107 55 Kingler
108 40 Voltorb
109 60 Electrode
110 60 Exeggcute
111 95 Exeggutor
112 50 Cubone
113 60 Marowak
114 50 Hitmonlee
115 50 Hitmonchan
116 90 Lickitung
117 40 Koffing
118 65 Weezing
119 80 Rhyhorn
120 105 Rhydon
121 250 Chansey
122 65 Tangela
123 105 Kangaskhan
124 105 KangaskhanMega Kangaskhan
125 30 Horsea
126 55 Seadra
127 45 Goldeen
128 80 Seaking
129 30 Staryu
130 60 Starmie
131 40 Mr. Mime
132 70 Scyther
133 65 Jynx
134 65 Electabuzz
135 65 Magmar
136 65 Pinsir
137 65 PinsirMega Pinsir
138 75 Tauros
139 20 Magikarp
140 95 Gyarados
141 95 GyaradosMega Gyarados
142 130 Lapras
143 48 Ditto
144 55 Eevee
145 130 Vaporeon
146 65 Jolteon
147 65 Flareon
148 65 Porygon
149 35 Omanyte
150 70 Omastar
151 30 Kabuto
152 60 Kabutops
153 80 Aerodactyl
154 80 AerodactylMega Aerodactyl
155 160 Snorlax
156 90 Articuno
157 90 Zapdos
158 90 Moltres
159 41 Dratini
160 61 Dragonair
161 91 Dragonite
162 106 Mewtwo
163 106 MewtwoMega Mewtwo X
164 106 MewtwoMega Mewtwo Y
165 100 Mew
166 45 Chikorita
167 60 Bayleef
168 80 Meganium
169 39 Cyndaquil
170 58 Quilava
171 78 Typhlosion
172 50 Totodile
173 65 Croconaw
174 85 Feraligatr
175 35 Sentret
176 85 Furret
177 60 Hoothoot
178 100 Noctowl
179 40 Ledyba
180 55 Ledian
181 40 Spinarak
182 70 Ariados
183 85 Crobat
184 75 Chinchou
185 125 Lanturn
186 20 Pichu
187 50 Cleffa
188 90 Igglybuff
189 35 Togepi
190 55 Togetic
191 40 Natu
192 65 Xatu
193 55 Mareep
194 70 Flaaffy
195 90 Ampharos
196 90 AmpharosMega Ampharos
197 75 Bellossom
198 70 Marill
199 100 Azumarill
200 70 Sudowoodo
201 90 Politoed
202 35 Hoppip
203 55 Skiploom
204 75 Jumpluff
205 55 Aipom
206 30 Sunkern
207 75 Sunflora
208 65 Yanma
209 55 Wooper
210 95 Quagsire
211 65 Espeon
212 95 Umbreon
213 60 Murkrow
214 95 Slowking
215 60 Misdreavus
216 48 Unown
217 190 Wobbuffet
218 70 Girafarig
219 50 Pineco
220 75 Forretress
221 100 Dunsparce
222 65 Gligar
223 75 Steelix
224 75 SteelixMega Steelix
225 60 Snubbull
226 90 Granbull
227 65 Qwilfish
228 70 Scizor
229 70 ScizorMega Scizor
230 20 Shuckle
231 80 Heracross
232 80 HeracrossMega Heracross
233 55 Sneasel
234 60 Teddiursa
235 90 Ursaring
236 40 Slugma
237 50 Magcargo
238 50 Swinub
239 100 Piloswine
240 55 Corsola
241 35 Remoraid
242 75 Octillery
243 45 Delibird
244 65 Mantine
245 65 Skarmory
246 45 Houndour
247 75 Houndoom
248 75 HoundoomMega Houndoom
249 75 Kingdra
250 90 Phanpy
251 90 Donphan
252 85 Porygon2
253 73 Stantler
254 55 Smeargle
255 35 Tyrogue
256 50 Hitmontop
257 45 Smoochum
258 45 Elekid
259 45 Magby
260 95 Miltank
261 255 Blissey
262 90 Raikou
263 115 Entei
264 100 Suicune
265 50 Larvitar
266 70 Pupitar
267 100 Tyranitar
268 100 TyranitarMega Tyranitar
269 106 Lugia
270 106 Ho-oh
271 100 Celebi
272 40 Treecko
273 50 Grovyle
274 70 Sceptile
275 70 SceptileMega Sceptile
276 45 Torchic
277 60 Combusken
278 80 Blaziken
279 80 BlazikenMega Blaziken
280 50 Mudkip
281 70 Marshtomp
282 100 Swampert
283 100 SwampertMega Swampert
284 35 Poochyena
285 70 Mightyena
286 38 Zigzagoon
287 78 Linoone
288 45 Wurmple
289 50 Silcoon
290 60 Beautifly
291 50 Cascoon
292 60 Dustox
293 40 Lotad
294 60 Lombre
295 80 Ludicolo
296 40 Seedot
297 70 Nuzleaf
298 90 Shiftry
299 40 Taillow
300 60 Swellow
301 40 Wingull
302 60 Pelipper
303 28 Ralts
304 38 Kirlia
305 68 Gardevoir
306 68 GardevoirMega Gardevoir
307 40 Surskit
308 70 Masquerain
309 60 Shroomish
310 60 Breloom
311 60 Slakoth
312 80 Vigoroth
313 150 Slaking
314 31 Nincada
315 61 Ninjask
316 1 Shedinja
317 64 Whismur
318 84 Loudred
319 104 Exploud
320 72 Makuhita
321 144 Hariyama
322 50 Azurill
323 30 Nosepass
324 50 Skitty
325 70 Delcatty
326 50 Sableye
327 50 SableyeMega Sableye
328 50 Mawile
329 50 MawileMega Mawile
330 50 Aron
331 60 Lairon
332 70 Aggron
333 70 AggronMega Aggron
334 30 Meditite
335 60 Medicham
336 60 MedichamMega Medicham
337 40 Electrike
338 70 Manectric
339 70 ManectricMega Manectric
340 60 Plusle
341 60 Minun
342 65 Volbeat
343 65 Illumise
344 50 Roselia
345 70 Gulpin
346 100 Swalot
347 45 Carvanha
348 70 Sharpedo
349 70 SharpedoMega Sharpedo
350 130 Wailmer
351 170 Wailord
352 60 Numel
353 70 Camerupt
354 70 CameruptMega Camerupt
355 70 Torkoal
356 60 Spoink
357 80 Grumpig
358 60 Spinda
359 45 Trapinch
360 50 Vibrava
361 80 Flygon
362 50 Cacnea
363 70 Cacturne
364 45 Swablu
365 75 Altaria
366 75 AltariaMega Altaria
367 73 Zangoose
368 73 Seviper
369 70 Lunatone
370 70 Solrock
371 50 Barboach
372 110 Whiscash
373 43 Corphish
374 63 Crawdaunt
375 40 Baltoy
376 60 Claydol
377 66 Lileep
378 86 Cradily
379 45 Anorith
380 75 Armaldo
381 20 Feebas
382 95 Milotic
383 70 Castform
384 60 Kecleon
385 44 Shuppet
386 64 Banette
387 64 BanetteMega Banette
388 20 Duskull
389 40 Dusclops
390 99 Tropius
391 65 Chimecho
392 65 Absol
393 65 AbsolMega Absol
394 95 Wynaut
395 50 Snorunt
396 80 Glalie
397 80 GlalieMega Glalie
398 70 Spheal
399 90 Sealeo
400 110 Walrein
401 35 Clamperl
402 55 Huntail
403 55 Gorebyss
404 100 Relicanth
405 43 Luvdisc
406 45 Bagon
407 65 Shelgon
408 95 Salamence
409 95 SalamenceMega Salamence
410 40 Beldum
411 60 Metang
412 80 Metagross
413 80 MetagrossMega Metagross
414 80 Regirock
415 80 Regice
416 80 Registeel
417 80 Latias
418 80 LatiasMega Latias
419 80 Latios
420 80 LatiosMega Latios
421 100 Kyogre
422 100 KyogrePrimal Kyogre
423 100 Groudon
424 100 GroudonPrimal Groudon
425 105 Rayquaza
426 105 RayquazaMega Rayquaza
427 100 Jirachi
428 50 DeoxysNormal Forme
429 50 DeoxysAttack Forme
430 50 DeoxysDefense Forme
431 50 DeoxysSpeed Forme
432 55 Turtwig
433 75 Grotle
434 95 Torterra
435 44 Chimchar
436 64 Monferno
437 76 Infernape
438 53 Piplup
439 64 Prinplup
440 84 Empoleon
441 40 Starly
442 55 Staravia
443 85 Staraptor
444 59 Bidoof
445 79 Bibarel
446 37 Kricketot
447 77 Kricketune
448 45 Shinx
449 60 Luxio
450 80 Luxray
451 40 Budew
452 60 Roserade
453 67 Cranidos
454 97 Rampardos
455 30 Shieldon
456 60 Bastiodon
457 40 Burmy
458 60 WormadamPlant Cloak
459 60 WormadamSandy Cloak
460 60 WormadamTrash Cloak
461 70 Mothim
462 30 Combee
463 70 Vespiquen
464 60 Pachirisu
465 55 Buizel
466 85 Floatzel
467 45 Cherubi
468 70 Cherrim
469 76 Shellos
470 111 Gastrodon
471 75 Ambipom
472 90 Drifloon
473 150 Drifblim
474 55 Buneary
475 65 Lopunny
476 65 LopunnyMega Lopunny
477 60 Mismagius
478 100 Honchkrow
479 49 Glameow
480 71 Purugly
481 45 Chingling
482 63 Stunky
483 103 Skuntank
484 57 Bronzor
485 67 Bronzong
486 50 Bonsly
487 20 Mime Jr.
488 100 Happiny
489 76 Chatot
490 50 Spiritomb
491 58 Gible
492 68 Gabite
493 108 Garchomp
494 108 GarchompMega Garchomp
495 135 Munchlax
496 40 Riolu
497 70 Lucario
498 70 LucarioMega Lucario
499 68 Hippopotas
500 108 Hippowdon
501 40 Skorupi
502 70 Drapion
503 48 Croagunk
504 83 Toxicroak
505 74 Carnivine
506 49 Finneon
507 69 Lumineon
508 45 Mantyke
509 60 Snover
510 90 Abomasnow
511 90 AbomasnowMega Abomasnow
512 70 Weavile
513 70 Magnezone
514 110 Lickilicky
515 115 Rhyperior
516 100 Tangrowth
517 75 Electivire
518 75 Magmortar
519 85 Togekiss
520 86 Yanmega
521 65 Leafeon
522 65 Glaceon
523 75 Gliscor
524 110 Mamoswine
525 85 Porygon-Z
526 68 Gallade
527 68 GalladeMega Gallade
528 60 Probopass
529 45 Dusknoir
530 70 Froslass
531 50 Rotom
532 50 RotomHeat Rotom
533 50 RotomWash Rotom
534 50 RotomFrost Rotom
535 50 RotomFan Rotom
536 50 RotomMow Rotom
537 75 Uxie
538 80 Mesprit
539 75 Azelf
540 100 Dialga
541 90 Palkia
542 91 Heatran
543 110 Regigigas
544 150 GiratinaAltered Forme
545 150 GiratinaOrigin Forme
546 120 Cresselia
547 80 Phione
548 100 Manaphy
549 70 Darkrai
550 100 ShayminLand Forme
551 100 ShayminSky Forme
552 120 Arceus
553 100 Victini
554 45 Snivy
555 60 Servine
556 75 Serperior
557 65 Tepig
558 90 Pignite
559 110 Emboar
560 55 Oshawott
561 75 Dewott
562 95 Samurott
563 45 Patrat
564 60 Watchog
565 45 Lillipup
566 65 Herdier
567 85 Stoutland
568 41 Purrloin
569 64 Liepard
570 50 Pansage
571 75 Simisage
572 50 Pansear
573 75 Simisear
574 50 Panpour
575 75 Simipour
576 76 Munna
577 116 Musharna
578 50 Pidove
579 62 Tranquill
580 80 Unfezant
581 45 Blitzle
582 75 Zebstrika
583 55 Roggenrola
584 70 Boldore
585 85 Gigalith
586 55 Woobat
587 67 Swoobat
588 60 Drilbur
589 110 Excadrill
590 103 Audino
591 103 AudinoMega Audino
592 75 Timburr
593 85 Gurdurr
594 105 Conkeldurr
595 50 Tympole
596 75 Palpitoad
597 105 Seismitoad
598 120 Throh
599 75 Sawk
600 45 Sewaddle
601 55 Swadloon
602 75 Leavanny
603 30 Venipede
604 40 Whirlipede
605 60 Scolipede
606 40 Cottonee
607 60 Whimsicott
608 45 Petilil
609 70 Lilligant
610 70 Basculin
611 50 Sandile
612 60 Krokorok
613 95 Krookodile
614 70 Darumaka
615 105 DarmanitanStandard Mode
616 105 DarmanitanZen Mode
617 75 Maractus
618 50 Dwebble
619 70 Crustle
620 50 Scraggy
621 65 Scrafty
622 72 Sigilyph
623 38 Yamask
624 58 Cofagrigus
625 54 Tirtouga
626 74 Carracosta
627 55 Archen
628 75 Archeops
629 50 Trubbish
630 80 Garbodor
631 40 Zorua
632 60 Zoroark
633 55 Minccino
634 75 Cinccino
635 45 Gothita
636 60 Gothorita
637 70 Gothitelle
638 45 Solosis
639 65 Duosion
640 110 Reuniclus
641 62 Ducklett
642 75 Swanna
643 36 Vanillite
644 51 Vanillish
645 71 Vanilluxe
646 60 Deerling
647 80 Sawsbuck
648 55 Emolga
649 50 Karrablast
650 70 Escavalier
651 69 Foongus
652 114 Amoonguss
653 55 Frillish
654 100 Jellicent
655 165 Alomomola
656 50 Joltik
657 70 Galvantula
658 44 Ferroseed
659 74 Ferrothorn
660 40 Klink
661 60 Klang
662 60 Klinklang
663 35 Tynamo
664 65 Eelektrik
665 85 Eelektross
666 55 Elgyem
667 75 Beheeyem
668 50 Litwick
669 60 Lampent
670 60 Chandelure
671 46 Axew
672 66 Fraxure
673 76 Haxorus
674 55 Cubchoo
675 95 Beartic
676 70 Cryogonal
677 50 Shelmet
678 80 Accelgor
679 109 Stunfisk
680 45 Mienfoo
681 65 Mienshao
682 77 Druddigon
683 59 Golett
684 89 Golurk
685 45 Pawniard
686 65 Bisharp
687 95 Bouffalant
688 70 Rufflet
689 100 Braviary
690 70 Vullaby
691 110 Mandibuzz
692 85 Heatmor
693 58 Durant
694 52 Deino
695 72 Zweilous
696 92 Hydreigon
697 55 Larvesta
698 85 Volcarona
699 91 Cobalion
700 91 Terrakion
701 91 Virizion
702 79 TornadusIncarnate Forme
703 79 TornadusTherian Forme
704 79 ThundurusIncarnate Forme
705 79 ThundurusTherian Forme
706 100 Reshiram
707 100 Zekrom
708 89 LandorusIncarnate Forme
709 89 LandorusTherian Forme
710 125 Kyurem
711 125 KyuremBlack Kyurem
712 125 KyuremWhite Kyurem
713 91 KeldeoOrdinary Forme
714 91 KeldeoResolute Forme
715 100 MeloettaAria Forme
716 100 MeloettaPirouette Forme
717 71 Genesect
718 56 Chespin
719 61 Quilladin
720 88 Chesnaught
721 40 Fennekin
722 59 Braixen
723 75 Delphox
724 41 Froakie
725 54 Frogadier
726 72 Greninja
727 38 Bunnelby
728 85 Diggersby
729 45 Fletchling
730 62 Fletchinder
731 78 Talonflame
732 38 Scatterbug
733 45 Spewpa
734 80 Vivillon
735 62 Litleo
736 86 Pyroar
737 44 Flabébé
738 54 Floette
739 78 Florges
740 66 Skiddo
741 123 Gogoat
742 67 Pancham
743 95 Pangoro
744 75 Furfrou
745 62 Espurr
746 74 MeowsticMale
747 74 MeowsticFemale
748 45 Honedge
749 59 Doublade
750 60 AegislashBlade Forme
751 60 AegislashShield Forme
752 78 Spritzee
753 101 Aromatisse
754 62 Swirlix
755 82 Slurpuff
756 53 Inkay
757 86 Malamar
758 42 Binacle
759 72 Barbaracle
760 50 Skrelp
761 65 Dragalge
762 50 Clauncher
763 71 Clawitzer
764 44 Helioptile
765 62 Heliolisk
766 58 Tyrunt
767 82 Tyrantrum
768 77 Amaura
769 123 Aurorus
770 95 Sylveon
771 78 Hawlucha
772 67 Dedenne
773 50 Carbink
774 45 Goomy
775 68 Sliggoo
776 90 Goodra
777 57 Klefki
778 43 Phantump
779 85 Trevenant
780 49 PumpkabooAverage Size
781 44 PumpkabooSmall Size
782 54 PumpkabooLarge Size
783 59 PumpkabooSuper Size
784 65 GourgeistAverage Size
785 55 GourgeistSmall Size
786 75 GourgeistLarge Size
787 85 GourgeistSuper Size
788 55 Bergmite
789 95 Avalugg
790 40 Noibat
791 85 Noivern
792 126 Xerneas
793 126 Yveltal
794 108 Zygarde50% Forme
795 50 Diancie
796 50 DiancieMega Diancie
797 80 HoopaHoopa Confined
798 80 HoopaHoopa Unbound
799 80 Volcanion

In [4]:
df.loc[df['Type 2']=='Poison']
#df.loc[df[]]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
53,48,Venonat,Bug,Poison,60,55,50,40,55,45,1,False
54,49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
75,69,Bellsprout,Grass,Poison,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
78,72,Tentacool,Water,Poison,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False
99,92,Gastly,Ghost,Poison,30,35,30,100,35,80,1,False
100,93,Haunter,Ghost,Poison,45,50,45,115,55,95,1,False
101,94,Gengar,Ghost,Poison,60,65,60,130,75,110,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
181,167,Spinarak,Bug,Poison,40,60,40,40,40,30,2,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
227,211,Qwilfish,Water,Poison,65,95,75,55,55,85,2,False
292,269,Dustox,Bug,Poison,60,50,70,50,90,65,3,False
344,315,Roselia,Grass,Poison,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,60,70,65,125,105,90,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
604,544,Whirlipede,Bug,Poison,40,55,99,40,79,47,5,False
605,545,Scolipede,Bug,Poison,60,100,89,55,69,112,5,False
651,590,Foongus,Grass,Poison,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [5]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
df.sort_values(['HP'], ascending =False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False
388,355,Duskull,Ghost,NaN,20,40,90,30,90,25,3,False
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

In [7]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [8]:
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [9]:
df.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
Total          int64
dtype: object

In [10]:
New_data = df.head(10)

In [11]:
New_data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [12]:
New_data['HP'].replace(45, pd.NA, inplace=True)
New_data.head()

/var/folders/ff/7cc6kw9n3m3fg2qb4y1mx5240000gn/T/ipykernel_43394/1123993630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_data['HP'].replace(45, pd.NA, inplace=True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,<NA>,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [13]:
New_data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,<NA>,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [14]:
New_data.to_csv('modified.txt', index=False, sep = '\t')

In [15]:
New_data.isnull().sum()

#             0
Name          0
Type 1        0
Type 2        3
HP            1
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
Total         0
dtype: int64

In [16]:
New_data.fillna(value = 'JILJIL', inplace = True)
New_data.head()

/var/folders/ff/7cc6kw9n3m3fg2qb4y1mx5240000gn/T/ipykernel_43394/1027538881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_data.fillna(value = 'JILJIL', inplace = True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,JILJIL,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,JILJIL,39,52,43,60,50,65,1,False,309

In [17]:
New_data.replace('JILJIL', pd.NA, inplace= True)
New_data.head()

/var/folders/ff/7cc6kw9n3m3fg2qb4y1mx5240000gn/T/ipykernel_43394/3004705121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  New_data.replace('JILJIL', pd.NA, inplace= True)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,<NA>,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,<NA>,39,52,43,60,50,65,1,False,309

In [18]:
df.loc[(df['HP'] > 80) & (df['Defense'] >75)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False,505
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False,514
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600

In [19]:
df.loc[df['Type 1'].str.contains('son')]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
28,23,Ekans,Poison,NaN,35,60,44,40,54,55,1,False,288
29,24,Arbok,Poison,NaN,60,85,69,65,79,80,1,False,438
34,29,Nidoran (Female),Poison,NaN,55,47,52,40,40,41,1,False,275
35,30,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False,365
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False,505
37,32,Nidoran (Male),Poison,NaN,46,57,40,40,40,50,1,False,273
38,33,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False,365
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False,245
47,42,Golbat,Poison,Flying,75,80,70,65,75,90,1,False,455
95,88,Grimer,Poison,NaN,80,80,50,40,50,25,1,False,325
96,89,Muk,Poison,NaN,105,105,75,65,100,50,1,False,500
117,109,Koffing,Poison,NaN,40,65,95,60,45,35,1,False,340
118,110,Weezing,Poison,NaN,65,90,120,85,70,60,1,False,490
183,169,Crobat,Poison,Flying,85,90,80,70,80,130,2,False,535
345,316,Gulpin,Poison,NaN,70,43,53,43,53,40,3,False,302
346,317,Swalot,Poison,NaN,100,73,83,73,83,55,3,False,467
368,336,Seviper,Poison,NaN,73,100,60,100,60,65,3,False,458
482,434,Stunky,Poison,Dark,63,63,47,41,41,74,4,False,329
483,435,Skuntank,Poison,Dark,103,93,67,71,61,84,4,False,479
501,451,Skorupi,Poison,Bug,40,50,90,30,55,65,4,False,330
502,452,Drapion,Poison,Dark,70,90,110,60,75,95,4,False,500
503,453,Croagunk,Poison,Fighting,48,61,40,61,40,50,4,False,300
504,454,Toxicroak,Poison,Fighting,83,106,65,86,65,85,4,False,490
629,568,Trubbish,Poison,NaN,50,50,62,40,62,65,5,False,329
630,569,Garbodor,Poison,NaN,80,95,82,60,82,75,5,False,474
760,690,Skrelp,Poison,Water,50,60,60,60,60,30,6,False,320
761,691,Dragalge,Poison,Dragon,65,75,90,97,123,44,6,False,494

In [20]:
df.loc[df['Type 2']=='Poison', 'Type 2'] = 'Martin Garrix'
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Martin Garrix,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Martin Garrix,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Martin Garrix,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Martin Garrix,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,JILJIL,39,52,43,60,50,65,1,False,309

In [21]:
df.loc[(df['Type 2']=='Martin Garrix') & (df['HP']> 60)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
2,3,Venusaur,Grass,Martin Garrix,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Martin Garrix,80,100,123,122,120,80,1,False,625
18,15,Beedrill,Bug,Martin Garrix,65,90,40,45,80,75,1,False,395
19,15,BeedrillMega Beedrill,Bug,Martin Garrix,65,150,40,15,80,145,1,False,495
50,45,Vileplume,Grass,Martin Garrix,75,80,85,110,90,50,1,False,490
54,49,Venomoth,Bug,Martin Garrix,70,65,60,90,75,90,1,False,450
76,70,Weepinbell,Grass,Martin Garrix,65,90,50,85,45,55,1,False,390
77,71,Victreebel,Grass,Martin Garrix,80,105,65,100,70,70,1,False,490
79,73,Tentacruel,Water,Martin Garrix,80,70,65,80,120,100,1,False,515
182,168,Ariados,Bug,Martin Garrix,70,90,70,60,60,40,2,False,390
227,211,Qwilfish,Water,Martin Garrix,65,95,75,55,55,85,2,False,430
651,590,Foongus,Grass,Martin Garrix,69,55,45,55,55,15,5,False,294
652,591,Amoonguss,Grass,Martin Garrix,114,85,70,85,80,30,5,False,464

In [22]:
df.loc[(df['HP'] > 80) & (df['Defense'] >75)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False,579
36,31,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False,505
39,34,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False,505
64,59,Arcanine,Fire,NaN,90,110,80,100,80,95,1,False,555
67,62,Poliwrath,Water,Fighting,90,95,95,70,90,70,1,False,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...
789,713,Avalugg,Ice,NaN,95,117,184,44,46,28,6,False,514
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False,535
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True,680
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True,680
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True,600

In [26]:
df.loc[df['HP']>43, 'Generation'] = 'YAY'
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Martin Garrix,45,49,49,65,65,45,YAY,False,318
1,2,Ivysaur,Grass,Martin Garrix,60,62,63,80,80,60,YAY,False,405
2,3,Venusaur,Grass,Martin Garrix,80,82,83,100,100,80,YAY,False,525
3,3,VenusaurMega Venusaur,Grass,Martin Garrix,80,100,123,122,120,80,YAY,False,625
4,4,Charmander,Fire,JILJIL,39,52,43,60,50,65,1,False,309

In [28]:
df.loc[df['Generation']=='YAY']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Martin Garrix,45,49,49,65,65,45,YAY,False,318
1,2,Ivysaur,Grass,Martin Garrix,60,62,63,80,80,60,YAY,False,405
2,3,Venusaur,Grass,Martin Garrix,80,82,83,100,100,80,YAY,False,525
3,3,VenusaurMega Venusaur,Grass,Martin Garrix,80,100,123,122,120,80,YAY,False,625
5,5,Charmeleon,Fire,JILJIL,58,64,58,80,65,80,YAY,False,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,YAY,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,YAY,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,YAY,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,YAY,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,YAY,True,600

In [1]:
df.dtypes

NameError: name 'df' is not defined

In [45]:
df.groupby(['Defense']).mean()

TypeError: Could not convert ChanseyHappiny to numeric

In [48]:
df['Defense'] = pd.to_numeric(df['Defense'], errors='coerce')
mean = df.groupby(['Defense']).mean()

mean

TypeError: Could not convert ChanseyHappiny to numeric